<strong><p style="text-align: center;">Amen Habtamu Asfaw | 21BTRCD058</p></strong>

#### Creating Credentials

In [9]:
import reddit_data_collector as rdc

In [10]:
data_collector = rdc.DataCollector(
    client_id='A0yBiCpHwaaeBBDvKmaP9A',
    client_secret='JZ-UpBOLzJsNsTwUOMBine9XkyVnXw',
    user_agent='Amen'
)

#### Fetching Data via API

In [11]:
posts, comments = data_collector.get_data(
    subreddits=["bangalore","BangaloreTechie"],
    post_filter="hot",
    post_limit=50,
    comment_data=True,
    replies_data=True,
    replace_more_limit=0,
    dataframe=True
)

Collecting hot r/bangalore posts: 100%|██████████| 50/50 [00:01<00:00, 37.34it/s]
Collecting hot r/BangaloreTechie posts: 100%|██████████| 50/50 [00:01<00:00, 32.93it/s]
Collecting comments for 50 r/bangalore posts: 100%|██████████| 50/50 [00:50<00:00,  1.00s/it]
Collecting comments for 50 r/BangaloreTechie posts: 100%|██████████| 50/50 [00:50<00:00,  1.00s/it]

In [12]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   subreddit_name       100 non-null    object
 1   post_created_utc     100 non-null    float64
 2   id                   100 non-null    object
 3   is_original_content  100 non-null    bool
 4   is_self              100 non-null    bool
 5   link_flair_text      23 non-null     object
 6   locked               100 non-null    bool
 7   num_comments         100 non-null    int64
 8   over_18              100 non-null    bool
 9   score                100 non-null    int64
 10  spoiler              100 non-null    bool
 11  stickied             100 non-null    bool
 12  title                100 non-null    object
 13  upvote_ratio         100 non-null    float64
 14  url                  100 non-null    object
dtypes: bool(6), float64(2), int64(2), object(5)
memory usage: 7.7+ KB

In [13]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255 entries, 0 to 2254
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   subreddit_name       2255 non-null   object
 1   id                   2255 non-null   object
 2   post_id              2255 non-null   object
 3   parent_id            2255 non-null   object
 4   top_level_comment    2255 non-null   bool
 5   body                 2255 non-null   object
 6   comment_created_utc  2255 non-null   float64
 7   is_submitter         2255 non-null   bool
 8   score                2255 non-null   int64
 9   stickied             2255 non-null   bool
dtypes: bool(3), float64(1), int64(1), object(5)
memory usage: 130.1+ KB

#### Saving Data into CSV

In [14]:
posts.to_csv("posts.csv", index=False)
comments.to_csv("comments.csv", index=False)

#### Viewing data collected via REDDIT API

In [15]:
import pandas as pd

comments_df = pd.read_csv('comments.csv')
posts_df = pd.read_csv('posts.csv')

In [16]:
comments_df.head()

,subreddit_name,id,post_id,parent_id,top_level_comment,body,comment_created_utc,is_submitter,score,stickied
0,bangalore,kgosuct,t3_18vl148,t3_18vl148,True,"""Hey, do you know anyone who's trying to get i...",1.704602e+09,False,7,False
1,bangalore,khe1cb6,t3_18vl148,t3_18vl148,True,[removed],1.704994e+09,False,5,False
2,bangalore,khxd4mo,t3_18vl148,t3_18vl148,True,"### Home Office Stuff, Keyboards, Mice and Oth...",1.705295e+09,False,4,False
3,bangalore,ki30cir,t3_18vl148,t3_18vl148,True,Hi! \nWilling to conduct online English classe...,1.705381e+09,False,5,False
4,bangalore,kg8do0y,t3_18vl148,t3_18vl148,True,"Folks, our firm is looking to hire freelance g...",1.704341e+09,False,4,False

In [21]:
comments_df.tail()

,subreddit_name,id,post_id,parent_id,top_level_comment,body,comment_created_utc,is_submitter,score,stickied
2250,BangaloreTechie,i8h0qdb,t3_ukt9ar,t3_ukt9ar,True,Can you elaborate it. I want to know more.,1.652461e+09,False,1,False
2251,BangaloreTechie,i64pfl7,t3_ublpvs,t3_ublpvs,True,It looks like OP posted an AMP link. These sho...,1.650895e+09,False,2,False
2252,BangaloreTechie,i64rs7d,t3_ublpvs,t3_ublpvs,True,Baaangalore Techie,1.650896e+09,False,2,False
2253,BangaloreTechie,i25yify,t3_togx7m,t3_togx7m,True,I like how this post is pinned,1.648276e+09,False,2,False
2254,BangaloreTechie,i0mr6ih,t3_tdzady,t3_tdzady,True,Saw the post and immediately thought of this sub,1.647274e+09,False,1,False

In [19]:
posts_df.head()

,subreddit_name,post_created_utc,id,is_original_content,is_self,link_flair_text,locked,num_comments,over_18,score,spoiler,stickied,title,upvote_ratio,url
0,bangalore,1.704069e+09,18vl148,False,True,NaN,False,406,False,16,False,True,January 2024 - Events/Rental/PGs/Jobs & Intern...,0.86,https://www.reddit.com/r/bangalore/comments/18...
1,bangalore,1.704069e+09,18vl14w,False,True,NaN,False,102,False,9,False,True,January 2024 - Monthly Questions and General D...,0.91,https://www.reddit.com/r/bangalore/comments/18...
2,bangalore,1.705893e+09,19clqur,False,False,NaN,True,30,False,520,False,False,Saw this on my whatsapp so posting it here,0.98,https://i.redd.it/b6r41stvrwdc1.jpeg
3,bangalore,1.705847e+09,19c4k0h,False,False,NaN,False,61,False,1365,False,False,Auto dude got no chill.,0.93,https://i.redd.it/iov2ld5lzsdc1.jpeg
4,bangalore,1.705817e+09,19bwlf7,False,False,NaN,False,151,False,1338,False,False,Inflation right there,0.95,https://i.redd.it/b58p4m3ehqdc1.jpeg

In [20]:
posts_df.tail()

,subreddit_name,post_created_utc,id,is_original_content,is_self,link_flair_text,locked,num_comments,over_18,score,spoiler,stickied,title,upvote_ratio,url
95,BangaloreTechie,1.648639e+09,ts47wt,False,False,NaN,False,0,False,6,False,False,Suitcase Swap: Bengaluru Techie Spots 'weak Li...,1.00,https://timesofindia.indiatimes.com/city/benga...
96,BangaloreTechie,1.648269e+09,togx7m,False,False,NaN,True,1,False,4,False,False,"Sacked Man Tries To Kill Hr Manager, Arrested ...",1.00,https://timesofindia.indiatimes.com/city/benga...
97,BangaloreTechie,1.647270e+09,tdzady,False,False,NaN,False,1,False,4,False,False,The title,0.75,https://www.hindustantimes.com/cities/bengalur...
98,BangaloreTechie,1.646913e+09,tawwnz,False,False,NaN,False,0,False,8,False,False,"Bengaluru: Man held for stealing 9 laptops, 5 ...",0.91,https://www.reddit.com/r/bangalore/comments/ta...
99,BangaloreTechie,1.645886e+09,t1ykjy,False,False,NaN,False,0,False,10,False,False,Bengaluru techie-turned-farmer to host farming...,1.00,https://www.reddit.com/r/bangalore/comments/sx...